@import "./../../../scss/base/1_vars.scss";

footer {
  width: 100%;

  color: #333;
  text-align: center;


  small {
    padding: 40px 15px;
    font-family: $font;
    font-size: 14px;
    opacity: 0.4;
    
    >a {
      color: #333;
      transition: all 0.5s ease-out;

      &:hover {
        color: #000;
      }
    }
  }

  svg {
    height: 1.1em;
    width: 1.1em;
    transform: translateY(2px);
  }
}