@charset "UTF-8";
/*
  Usage:
  @include placeholder {
    font-style: italic;
    color: black;
  }
*/
/*
  Returns a media queries which scales the units relative to the xs and lg values
  Remember, dont be lazy when using this. If you've got other things that need be
  in media queries for the same element, dont use this.

  Usage: @include scale-pixels('margin-top', 25px, 125px);

  Returns:

  padding:25px

  @media (min-width:768px){
    padding:50px;
  }

  @media (min-width:992px){
    padding:80px;
  }

  @media (min-width:1200px){
    padding:115px;
  }

  @media (min-width:1500px){
    padding:125px;
  }
*/
/*
  Pass in a colour and it gives you a button, BOOM.
*/
/*
  Pass in 2 colours and it gives you a button width a gradient, BOOM.
*/
/*
  Bootstrap size mixins
*/
/*
 Viewport sized typography with minimum and maximum values

 @param {Number}   $min         - Minimum font size (px)
 @param {Number}   $max         - Maximum font size (px)

  Example scss - 2.79vw font size (with 53px fallback),
  @include responsive-font(20px, 53px);
*/
/*
  Icon Container sizing
*/
/*
  Usage:
  @include placeholder {
    font-style: italic;
    color: black;
  }
*/
/*
  Returns a media queries which scales the units relative to the xs and lg values
  Remember, dont be lazy when using this. If you've got other things that need be
  in media queries for the same element, dont use this.

  Usage: @include scale-pixels('margin-top', 25px, 125px);

  Returns:

  padding:25px

  @media (min-width:768px){
    padding:50px;
  }

  @media (min-width:992px){
    padding:80px;
  }

  @media (min-width:1200px){
    padding:115px;
  }

  @media (min-width:1500px){
    padding:125px;
  }
*/
/*
  Pass in a colour and it gives you a button, BOOM.
*/
/*
  Pass in 2 colours and it gives you a button width a gradient, BOOM.
*/
/*
  Bootstrap size mixins
*/
/*
 Viewport sized typography with minimum and maximum values

 @param {Number}   $min         - Minimum font size (px)
 @param {Number}   $max         - Maximum font size (px)

  Example scss - 2.79vw font size (with 53px fallback),
  @include responsive-font(20px, 53px);
*/
/*
  Icon Container sizing
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400; }

.f14 {
  font-size: 14px;
  font-size: 0.72917vw; }
  @media (max-width: 1508.57143px) {
    .f14 {
      font-size: 11px; } }
  @media (min-width: 1920px) {
    .f14 {
      font-size: 14px; } }

.f16 {
  font-size: 15.56px;
  font-size: 0.81042vw; }
  @media (max-width: 1604.11311px) {
    .f16 {
      font-size: 13px; } }
  @media (min-width: 1920px) {
    .f16 {
      font-size: 15.56px; } }

.f17 {
  font-size: 16.89px;
  font-size: 0.87969vw; }
  @media (max-width: 1591.47425px) {
    .f17 {
      font-size: 14px; } }
  @media (min-width: 1920px) {
    .f17 {
      font-size: 16.89px; } }

.f18 {
  font-size: 18px;
  font-size: 0.9375vw; }
  @media (max-width: 1493.33333px) {
    .f18 {
      font-size: 14px; } }
  @media (min-width: 1920px) {
    .f18 {
      font-size: 18px; } }

.f20 {
  font-size: 20px;
  font-size: 1.04167vw; }
  @media (max-width: 1536px) {
    .f20 {
      font-size: 16px; } }
  @media (min-width: 1920px) {
    .f20 {
      font-size: 20px; } }

.f21 {
  font-size: 21.3px;
  font-size: 1.10938vw; }
  @media (max-width: 1442.25352px) {
    .f21 {
      font-size: 16px; } }
  @media (min-width: 1920px) {
    .f21 {
      font-size: 21.3px; } }

.f22 {
  font-size: 22.22px;
  font-size: 1.15729vw; }
  @media (max-width: 1382.53825px) {
    .f22 {
      font-size: 16px; } }
  @media (min-width: 1920px) {
    .f22 {
      font-size: 22.22px; } }

.f26, .heading2 {
  font-size: 26.67px;
  font-size: 1.38906vw; }
  @media (max-width: 1583.80202px) {
    .f26, .heading2 {
      font-size: 22px; } }
  @media (min-width: 1920px) {
    .f26, .heading2 {
      font-size: 26.67px; } }

.f24 {
  font-size: 24.44px;
  font-size: 1.27292vw; }
  @media (max-width: 1414.07529px) {
    .f24 {
      font-size: 18px; } }
  @media (min-width: 1920px) {
    .f24 {
      font-size: 24.44px; } }

.f31 {
  font-size: 31px;
  font-size: 1.61458vw; }
  @media (max-width: 1610.32258px) {
    .f31 {
      font-size: 26px; } }
  @media (min-width: 1920px) {
    .f31 {
      font-size: 31px; } }

.f36 {
  font-size: 35.56px;
  font-size: 1.85208vw; }
  @media (max-width: 1349.83127px) {
    .f36 {
      font-size: 25px; } }
  @media (min-width: 1920px) {
    .f36 {
      font-size: 35.56px; } }

.f40, .heading1 {
  font-size: 40px;
  font-size: 2.08333vw; }
  @media (max-width: 1296px) {
    .f40, .heading1 {
      font-size: 27px; } }
  @media (min-width: 1920px) {
    .f40, .heading1 {
      font-size: 40px; } }

.f60 {
  font-size: 59.95px;
  font-size: 3.1224vw; }
  @media (max-width: 960.80067px) {
    .f60 {
      font-size: 30px; } }
  @media (min-width: 1920px) {
    .f60 {
      font-size: 59.95px; } }

.heading1 {
  font-family: "Roboto";
  color: #222222; }

.heading2 {
  font-weight: 400; }

.forecast {
  position: relative;
  display: block;
  /**
   * forecast
   * Forecast Section
   */ }
  .forecast:first-child {
    /**
   * forecast
   * Forecast Section
   */ }
    .forecast:first-child .forecast__wrapper, .forecast:first-child .forecast__wrapper--clearsky, .forecast:first-child .forecast__wrapper--fewclouds, .forecast:first-child .forecast__wrapper--scatteredclouds, .forecast:first-child .forecast__wrapper--brokenclouds, .forecast:first-child .forecast__wrapper--overcastclouds, .forecast:first-child .forecast__wrapper--showerrain, .forecast:first-child .forecast__wrapper--lightrain, .forecast:first-child .forecast__wrapper--moderaterain, .forecast:first-child .forecast__wrapper--rain, .forecast:first-child .forecast__wrapper--thunderstorm, .forecast:first-child .forecast__wrapper--lightsnow, .forecast:first-child .forecast__wrapper--moderatesnow, .forecast:first-child .forecast__wrapper--snow, .forecast:first-child .forecast__wrapper--mist {
      border-radius: 10px 10px 0 0;
      overflow: hidden; }
  .forecast:last-child {
    /**
   * forecast
   * Forecast Section
   */ }
    .forecast:last-child .forecast__wrapper, .forecast:last-child .forecast__wrapper--clearsky, .forecast:last-child .forecast__wrapper--fewclouds, .forecast:last-child .forecast__wrapper--scatteredclouds, .forecast:last-child .forecast__wrapper--brokenclouds, .forecast:last-child .forecast__wrapper--overcastclouds, .forecast:last-child .forecast__wrapper--showerrain, .forecast:last-child .forecast__wrapper--lightrain, .forecast:last-child .forecast__wrapper--moderaterain, .forecast:last-child .forecast__wrapper--rain, .forecast:last-child .forecast__wrapper--thunderstorm, .forecast:last-child .forecast__wrapper--lightsnow, .forecast:last-child .forecast__wrapper--moderatesnow, .forecast:last-child .forecast__wrapper--snow, .forecast:last-child .forecast__wrapper--mist {
      border-radius: 0 0 10px 10px;
      overflow: hidden; }
  @media (min-width: 768px) {
    .forecast:first-child {
      /**
   * forecast
   * Forecast Section
   */ }
      .forecast:first-child .forecast__wrapper, .forecast:first-child .forecast__wrapper--clearsky, .forecast:first-child .forecast__wrapper--fewclouds, .forecast:first-child .forecast__wrapper--scatteredclouds, .forecast:first-child .forecast__wrapper--brokenclouds, .forecast:first-child .forecast__wrapper--overcastclouds, .forecast:first-child .forecast__wrapper--showerrain, .forecast:first-child .forecast__wrapper--lightrain, .forecast:first-child .forecast__wrapper--moderaterain, .forecast:first-child .forecast__wrapper--rain, .forecast:first-child .forecast__wrapper--thunderstorm, .forecast:first-child .forecast__wrapper--lightsnow, .forecast:first-child .forecast__wrapper--moderatesnow, .forecast:first-child .forecast__wrapper--snow, .forecast:first-child .forecast__wrapper--mist {
        border-radius: 10px 0 0 10px;
        overflow: hidden; }
    .forecast:last-child {
      /**
   * forecast
   * Forecast Section
   */ }
      .forecast:last-child .forecast__wrapper, .forecast:last-child .forecast__wrapper--clearsky, .forecast:last-child .forecast__wrapper--fewclouds, .forecast:last-child .forecast__wrapper--scatteredclouds, .forecast:last-child .forecast__wrapper--brokenclouds, .forecast:last-child .forecast__wrapper--overcastclouds, .forecast:last-child .forecast__wrapper--showerrain, .forecast:last-child .forecast__wrapper--lightrain, .forecast:last-child .forecast__wrapper--moderaterain, .forecast:last-child .forecast__wrapper--rain, .forecast:last-child .forecast__wrapper--thunderstorm, .forecast:last-child .forecast__wrapper--lightsnow, .forecast:last-child .forecast__wrapper--moderatesnow, .forecast:last-child .forecast__wrapper--snow, .forecast:last-child .forecast__wrapper--mist {
        border-radius: 0 10px 10px 0;
        overflow: hidden; } }
  .forecast .forecast__wrapper, .forecast .forecast__wrapper--clearsky, .forecast .forecast__wrapper--fewclouds, .forecast .forecast__wrapper--scatteredclouds, .forecast .forecast__wrapper--brokenclouds, .forecast .forecast__wrapper--overcastclouds, .forecast .forecast__wrapper--showerrain, .forecast .forecast__wrapper--lightrain, .forecast .forecast__wrapper--moderaterain, .forecast .forecast__wrapper--rain, .forecast .forecast__wrapper--thunderstorm, .forecast .forecast__wrapper--lightsnow, .forecast .forecast__wrapper--moderatesnow, .forecast .forecast__wrapper--snow, .forecast .forecast__wrapper--mist {
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: 0;
    margin: 2px;
    padding: 10px; }
    @media (min-width: 768px) {
      .forecast .forecast__wrapper, .forecast .forecast__wrapper--clearsky, .forecast .forecast__wrapper--fewclouds, .forecast .forecast__wrapper--scatteredclouds, .forecast .forecast__wrapper--brokenclouds, .forecast .forecast__wrapper--overcastclouds, .forecast .forecast__wrapper--showerrain, .forecast .forecast__wrapper--lightrain, .forecast .forecast__wrapper--moderaterain, .forecast .forecast__wrapper--rain, .forecast .forecast__wrapper--thunderstorm, .forecast .forecast__wrapper--lightsnow, .forecast .forecast__wrapper--moderatesnow, .forecast .forecast__wrapper--snow, .forecast .forecast__wrapper--mist {
        padding: 50px 10px 145px 10px; } }
    .forecast .forecast__wrapper:before, .forecast .forecast__wrapper--clearsky:before, .forecast .forecast__wrapper--fewclouds:before, .forecast .forecast__wrapper--scatteredclouds:before, .forecast .forecast__wrapper--brokenclouds:before, .forecast .forecast__wrapper--overcastclouds:before, .forecast .forecast__wrapper--showerrain:before, .forecast .forecast__wrapper--lightrain:before, .forecast .forecast__wrapper--moderaterain:before, .forecast .forecast__wrapper--rain:before, .forecast .forecast__wrapper--thunderstorm:before, .forecast .forecast__wrapper--lightsnow:before, .forecast .forecast__wrapper--moderatesnow:before, .forecast .forecast__wrapper--snow:before, .forecast .forecast__wrapper--mist:before {
      content: '';
      position: absolute;
      bottom: -5.5em;
      left: -4em;
      width: 18em;
      height: 18em;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.2;
      z-index: -1; }
    .forecast .forecast__wrapper--clearsky {
      background: #ff9872;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ff9872 0%, #ffdb4e 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9872), color-stop(100%, #ffdb4e));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ff9872 0%, #ffdb4e 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ff9872 0%, #ffdb4e 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ff9872 0%, #ffdb4e 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ff9872 0%, #ffdb4e 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--clearsky:before {
        background-image: url("../../../img/icons/01d.svg"); }
    .forecast .forecast__wrapper--fewclouds {
      background: #03B9A5;
      /* Old browsers */
      background: -moz-linear-gradient(top, #03B9A5 0%, #30ECEB 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #03B9A5), color-stop(100%, #30ECEB));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #03B9A5 0%, #30ECEB 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #03B9A5 0%, #30ECEB 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #03B9A5 0%, #30ECEB 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #03B9A5 0%, #30ECEB 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--fewclouds:before {
        background-image: url("../../../img/icons/02d.svg"); }
    .forecast .forecast__wrapper--scatteredclouds {
      background: #3E93B2;
      /* Old browsers */
      background: -moz-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3E93B2), color-stop(100%, #44EDEC));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #3E93B2 0%, #44EDEC 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--scatteredclouds:before {
        background-image: url("../../../img/icons/03d.svg"); }
    .forecast .forecast__wrapper--brokenclouds {
      background: #3E93B2;
      /* Old browsers */
      background: -moz-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3E93B2), color-stop(100%, #44EDEC));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #3E93B2 0%, #44EDEC 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--brokenclouds:before {
        background-image: url("../../../img/icons/04d.svg"); }
    .forecast .forecast__wrapper--overcastclouds {
      background: #3E93B2;
      /* Old browsers */
      background: -moz-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3E93B2), color-stop(100%, #44EDEC));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #3E93B2 0%, #44EDEC 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #3E93B2 0%, #44EDEC 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--overcastclouds:before {
        background-image: url("../../../img/icons/04d.svg"); }
    .forecast .forecast__wrapper--showerrain {
      background: #066E94;
      /* Old browsers */
      background: -moz-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #066E94), color-stop(100%, #6fd4fb));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #066E94 0%, #6fd4fb 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--showerrain:before {
        background-image: url("../../../img/icons/09d.svg"); }
    .forecast .forecast__wrapper--lightrain {
      background: #066E94;
      /* Old browsers */
      background: -moz-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #066E94), color-stop(100%, #6fd4fb));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #066E94 0%, #6fd4fb 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--lightrain:before {
        background-image: url("../../../img/icons/10d.svg"); }
    .forecast .forecast__wrapper--moderaterain {
      background: #066E94;
      /* Old browsers */
      background: -moz-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #066E94), color-stop(100%, #6fd4fb));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #066E94 0%, #6fd4fb 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #066E94 0%, #6fd4fb 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--moderaterain:before {
        background-image: url("../../../img/icons/10d.svg"); }
    .forecast .forecast__wrapper--rain {
      background: #24A0CD;
      /* Old browsers */
      background: -moz-linear-gradient(top, #24A0CD 0%, #6fd4fb 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #24A0CD), color-stop(100%, #6fd4fb));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #24A0CD 0%, #6fd4fb 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #24A0CD 0%, #6fd4fb 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #24A0CD 0%, #6fd4fb 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #24A0CD 0%, #6fd4fb 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--rain:before {
        background-image: url("../../../img/icons/10d.svg"); }
    .forecast .forecast__wrapper--thunderstorm {
      background: #0A465D;
      /* Old browsers */
      background: -moz-linear-gradient(top, #0A465D 0%, #61A1BA 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0A465D), color-stop(100%, #61A1BA));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #0A465D 0%, #61A1BA 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #0A465D 0%, #61A1BA 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #0A465D 0%, #61A1BA 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #0A465D 0%, #61A1BA 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--thunderstorm:before {
        background-image: url("../../../img/icons/11d.svg"); }
    .forecast .forecast__wrapper--lightsnow {
      background: #74A3DE;
      /* Old browsers */
      background: -moz-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74A3DE), color-stop(100%, #DCEDF4));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #74A3DE 0%, #DCEDF4 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--lightsnow:before {
        background-image: url("../../../img/icons/13d.svg"); }
    .forecast .forecast__wrapper--moderatesnow {
      background: #74A3DE;
      /* Old browsers */
      background: -moz-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74A3DE), color-stop(100%, #DCEDF4));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #74A3DE 0%, #DCEDF4 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--moderatesnow:before {
        background-image: url("../../../img/icons/13d.svg"); }
    .forecast .forecast__wrapper--snow {
      background: #74A3DE;
      /* Old browsers */
      background: -moz-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74A3DE), color-stop(100%, #DCEDF4));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #74A3DE 0%, #DCEDF4 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #74A3DE 0%, #DCEDF4 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--snow:before {
        background-image: url("../../../img/icons/13d.svg"); }
    .forecast .forecast__wrapper--mist {
      background: #919494;
      /* Old browsers */
      background: -moz-linear-gradient(top, #919494 0%, #D6D8D9 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #919494), color-stop(100%, #D6D8D9));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #919494 0%, #D6D8D9 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #919494 0%, #D6D8D9 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #919494 0%, #D6D8D9 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #919494 0%, #D6D8D9 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .forecast .forecast__wrapper--mist:before {
        background-image: url("../../../img/icons/50d.svg"); }
  .forecast .forecast__day {
    color: #fff;
    font-family: "Roboto";
    width: 100%;
    display: block;
    font-weight: 400;
    font-size: 1.3em; }
  .forecast .forecast__content {
    width: 50%;
    display: inline-grid; }
    @media (min-width: 768px) {
      .forecast .forecast__content {
        width: 100%; } }
  .forecast .forecast__temperature {
    width: 50%;
    display: inline-grid; }
    @media (min-width: 768px) {
      .forecast .forecast__temperature {
        width: 100%; } }
  .forecast .forecast__icon, .forecast .forecast__icon--clearsky, .forecast .forecast__icon--fewclouds, .forecast .forecast__icon--scatteredclouds, .forecast .forecast__icon--brokenclouds, .forecast .forecast__icon--overcastclouds, .forecast .forecast__icon--showerrain, .forecast .forecast__icon--lightrain, .forecast .forecast__icon--moderaterain, .forecast .forecast__icon--rain, .forecast .forecast__icon--thunderstorm, .forecast .forecast__icon--lightsnow, .forecast .forecast__icon--moderatesnow, .forecast .forecast__icon--snow, .forecast .forecast__icon--mist {
    height: 5.5em;
    width: 5.5em;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
    background-size: cover;
    margin-top: 0.5em;
    margin-bottom: 1em; }
    @media (min-width: 768px) {
      .forecast .forecast__icon, .forecast .forecast__icon--clearsky, .forecast .forecast__icon--fewclouds, .forecast .forecast__icon--scatteredclouds, .forecast .forecast__icon--brokenclouds, .forecast .forecast__icon--overcastclouds, .forecast .forecast__icon--showerrain, .forecast .forecast__icon--lightrain, .forecast .forecast__icon--moderaterain, .forecast .forecast__icon--rain, .forecast .forecast__icon--thunderstorm, .forecast .forecast__icon--lightsnow, .forecast .forecast__icon--moderatesnow, .forecast .forecast__icon--snow, .forecast .forecast__icon--mist {
        margin-top: 4.5em; } }
    .forecast .forecast__icon--clearsky {
      background-image: url("../../../img/icons/01d.svg"); }
    .forecast .forecast__icon--fewclouds {
      background-image: url("../../../img/icons/02d.svg"); }
    .forecast .forecast__icon--scatteredclouds {
      background-image: url("../../../img/icons/03d.svg"); }
    .forecast .forecast__icon--brokenclouds {
      background-image: url("../../../img/icons/04d.svg"); }
    .forecast .forecast__icon--overcastclouds {
      background-image: url("../../../img/icons/04d.svg"); }
    .forecast .forecast__icon--showerrain {
      background-image: url("../../../img/icons/09d.svg"); }
    .forecast .forecast__icon--lightrain {
      background-image: url("../../../img/icons/10d.svg"); }
    .forecast .forecast__icon--moderaterain {
      background-image: url("../../../img/icons/10d.svg"); }
    .forecast .forecast__icon--rain {
      background-image: url("../../../img/icons/10d.svg"); }
    .forecast .forecast__icon--thunderstorm {
      background-image: url("../../../img/icons/11d.svg"); }
    .forecast .forecast__icon--lightsnow {
      background-image: url("../../../img/icons/13d.svg"); }
    .forecast .forecast__icon--moderatesnow {
      background-image: url("../../../img/icons/13d.svg"); }
    .forecast .forecast__icon--snow {
      background-image: url("../../../img/icons/13d.svg"); }
    .forecast .forecast__icon--mist {
      background-image: url("../../../img/icons/50d.svg"); }
  .forecast .forecast__description {
    color: #fff;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.18em;
    font-size: 1.3em;
    height: 2em;
    line-height: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.5em; }
  .forecast .forecast__celsius {
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 5.5em;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 0.95em;
    margin-bottom: 0; }
    .forecast .forecast__celsius:after {
      font-weight: 100;
      content: '°c';
      letter-spacing: -0.1em;
      font-size: 0.65em; }
  .forecast .forecast__fahrenheit {
    color: #fff;
    font-family: "Roboto";
    font-size: 1.4em;
    font-weight: 100; }
    .forecast .forecast__fahrenheit:after {
      font-weight: 100;
      content: '°F'; }
