@import "./../../../scss/base/1_vars.scss";
@import "./../../../scss/base/2_mixins.scss";
@import "./../../../scss/base/3_typography.scss";

.forecast {
  //height: 400px;
  position: relative;
  display: block;

  @include md {
    &:first-child {
      @include new('forecast', 'Forecast Section') {
        @include has('wrapper') {
          border-radius:10px 0 0 10px;
          overflow: hidden;
        }
      }
    }

    &:last-child {
      @include new('forecast', 'Forecast Section') {
        @include has('wrapper') {
          border-radius:0 10px 10px 0;
          overflow: hidden;
        }
      }
    }
  }

  
  @include new('forecast', 'Forecast Section') {

    @include has('wrapper') {
      //background-color: orange;
      position: relative;
      overflow: hidden;
      text-align: center;
      z-index: 0;
      margin: 3px;
      padding: 50px 10px 145px 10px;

      //padding-top: 200%;
      //height: 1px;

      &:before {
        content: '';
        position: absolute;
        bottom: -5.5em;
        left: -4em;
        width: 18em;
        height: 18em;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.2;
        z-index: -1;
      }

      @include when('clearsky') {
        @include linearGradient(#ff9872, #ffdb4e);
        &:before { background-image: url('../../../img/icons/01d.svg'); }
      }

      @include when('fewclouds') {
        @include linearGradient(#03B9A5, #30ECEB);
        &:before { background-image: url('../../../img/icons/02d.svg'); }
      }

      @include when('scatteredclouds') {
        @include linearGradient(#3E93B2, #44EDEC);
        &:before { background-image: url('../../../img/icons/03d.svg'); }
      }

      @include when('brokenclouds') {
        @include linearGradient(#3E93B2, #44EDEC);
        &:before { background-image: url('../../../img/icons/04d.svg'); }
      }

      @include when('overcastclouds') {
        @include linearGradient(#3E93B2, #44EDEC);
        &:before { background-image: url('../../../img/icons/04d.svg'); }
      }

      @include when('showerrain') {
        @include linearGradient(#066E94, #6fd4fb);
        &:before { background-image: url('../../../img/icons/09d.svg'); }
      }

      @include when('lightrain') {
        @include linearGradient(#066E94, #6fd4fb);
        &:before { background-image: url('../../../img/icons/10d.svg'); }
      }

      @include when('moderaterain') {
        @include linearGradient(#066E94, #6fd4fb);
        &:before { background-image: url('../../../img/icons/10d.svg'); }
      }

      @include when('rain') {
        @include linearGradient(#24A0CD, #6fd4fb);
        &:before { background-image: url('../../../img/icons/10d.svg'); }
      }

      @include when('thunderstorm') {
        @include linearGradient(#0A465D, #61A1BA);
        &:before { background-image: url('../../../img/icons/11d.svg'); }
      }

      @include when('snow') {
        @include linearGradient(#74A3DE, #DCEDF4);
        &:before { background-image: url('../../../img/icons/13d.svg'); }
      }

      @include when('mist') {
        @include linearGradient(#919494, #D6D8D9);
        &:before { background-image: url('../../../img/icons/50d.svg'); }
      }

    }

    @include has('day') {
      color: #fff;
      font-family: $font;
      width: 100%;
      display: block;
      font-weight: 400;
      font-size: 1.3em;
    }

    @include has('icon') {
      height: 80px;
      width: 80px;
      background-repeat: no-repeat;
      margin: 0 auto;
      display: inline-block;
      background-size:cover;
      margin-top:4.5em;
      margin-bottom: 1em;

      @include when('clearsky') {
        background-image: url('../../../img/icons/01d.svg');
      }

      @include when('fewclouds') {
        background-image: url('../../../img/icons/02d.svg');
      }

      @include when('scatteredclouds') {
        background-image: url('../../../img/icons/03d.svg');
      }

      @include when('brokenclouds') {
        background-image: url('../../../img/icons/04d.svg');
      }

      @include when('overcastclouds') {
        background-image: url('../../../img/icons/04d.svg');
      }

      @include when('showerrain') {
        background-image: url('../../../img/icons/09d.svg');
      }

      @include when('lightrain') {
        background-image: url('../../../img/icons/10d.svg');
      }

      @include when('moderaterain') {
        background-image: url('../../../img/icons/10d.svg');
      }

      @include when('rain') {
        background-image: url('../../../img/icons/10d.svg');
      }

      @include when('thunderstorm') {
        background-image: url('../../../img/icons/11d.svg');
      }

      @include when('snow') {
        background-image: url('../../../img/icons/13d.svg');
      }

      @include when('mist') {
        background-image: url('../../../img/icons/50d.svg');
      }
    }

    @include has('description') {
      color: #fff;
      font-family: $font;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.18em;
      font-size: 1.3em;
      height: 2em;
      line-height: 1em;
      margin-top: 0.6em;
      margin-bottom: 0.5em;
    }

    @include has('celsius') {
      color: #fff;
      font-family: $font-condensed;
      font-size: 5.5em;
      font-weight: 600;
      letter-spacing: -0.01em;
      line-height: 0.95em;
      margin-bottom: 0;

      &:after {
        font-weight: 100;
        content: '°c';
        letter-spacing: -0.1em;
        font-size: 0.65em;
      }

    }

    @include has('fahrenheit') {
      color: #fff;
      font-family: $font;
      font-size: 1.4em;
      font-weight: 100;

      &:after {
        font-weight: 100;
        content: '°F';
      }
    }

  }
}
