@import "./2_mixins.scss";

.main {
  padding: 0 20px;
  min-height: 20vh;
  padding-top: 8em;

  @include sm {
    padding-top:0;
  }

  .row {
    margin: -3px;
  }

  @include new('main', 'Search Form') {
    height: 4em;

    @include has('loading') {
      padding-top: 2em;
      margin: 0 auto;
      display: inline-block;
      text-align: center;
      width: 100%;
      height: 100%;
    }

    @include has('notice') {
      padding:40px 20px;
      font-size: 1.5em;
      text-align: center;
    }
  }
}