@import "./../../../scss/base/1_vars.scss";
@import "./../../../scss/base/2_mixins.scss";
@import "./../../../scss/base/3_typography.scss";

header {
  position: fixed;
  width: 100%;
  display: block;
  z-index: 2;

  @include sm {
    position:relative;
  }

  .row {
    padding: 15px 4px;

    @include md {
      padding: 15px 20px;
    }

    display: table;
    width: 100%;

    .inner {
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      @include vertical-align();
    }


    @include new('search', 'Search Form') {
      height: 5em;
      margin-bottom: 0;

      @include has('input') {
        height: 2em;
        padding:1.6em 1.4em;
        width: 100%;
        //border: none;
        border-radius:10px;
        background: #f3f3f3;
        color: #757575;
        font-size: 1.4em;
        font-family: $font-heading;
        appearance:none;
        box-shadow: none!important;
        border: 1px solid rgba(0,0,0,0);
        transition: all 0.5s ease-out;

        &:focus {
          border: 1px solid rgba(0,0,0,0.2) !important;
        }

        &::placeholder {
          color: #757575;
          opacity: 0.4;
        }
      }

      @include has('submit') {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        height: 100%;
        @include linearGradient(#909494, #676767);
        appearance:none;
        border: none;
        border-radius: 0 10px 10px 0;
        padding:0 2.4em;
        font-weight: 600;
        font-size: 1.4em;
        transition: opacity 0.5s ease-out;
        display: inline-block;
        transform: translateZ(0);

        &:hover {
          opacity: 0.7;
          //@include linearGradient(#909494, #565656);
        }
      }
    }


  }

}