/*
  Usage:
  @include placeholder {
    font-style: italic;
    color: black;
  }
*/
/*
  Returns a media queries which scales the units relative to the xs and lg values
  Remember, dont be lazy when using this. If you've got other things that need be
  in media queries for the same element, dont use this.

  Usage: @include scale-pixels('margin-top', 25px, 125px);

  Returns:

  padding:25px

  @media (min-width:768px){
    padding:50px;
  }

  @media (min-width:992px){
    padding:80px;
  }

  @media (min-width:1200px){
    padding:115px;
  }

  @media (min-width:1500px){
    padding:125px;
  }
*/
/*
  Pass in a colour and it gives you a button, BOOM.
*/
/*
  Pass in 2 colours and it gives you a button width a gradient, BOOM.
*/
/*
  Bootstrap size mixins
*/
/*
 Viewport sized typography with minimum and maximum values

 @param {Number}   $min         - Minimum font size (px)
 @param {Number}   $max         - Maximum font size (px)

  Example scss - 2.79vw font size (with 53px fallback),
  @include responsive-font(20px, 53px);
*/
/*
  Icon Container sizing
*/
/*
  Usage:
  @include placeholder {
    font-style: italic;
    color: black;
  }
*/
/*
  Returns a media queries which scales the units relative to the xs and lg values
  Remember, dont be lazy when using this. If you've got other things that need be
  in media queries for the same element, dont use this.

  Usage: @include scale-pixels('margin-top', 25px, 125px);

  Returns:

  padding:25px

  @media (min-width:768px){
    padding:50px;
  }

  @media (min-width:992px){
    padding:80px;
  }

  @media (min-width:1200px){
    padding:115px;
  }

  @media (min-width:1500px){
    padding:125px;
  }
*/
/*
  Pass in a colour and it gives you a button, BOOM.
*/
/*
  Pass in 2 colours and it gives you a button width a gradient, BOOM.
*/
/*
  Bootstrap size mixins
*/
/*
 Viewport sized typography with minimum and maximum values

 @param {Number}   $min         - Minimum font size (px)
 @param {Number}   $max         - Maximum font size (px)

  Example scss - 2.79vw font size (with 53px fallback),
  @include responsive-font(20px, 53px);
*/
/*
  Icon Container sizing
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400; }

.f14 {
  font-size: 14px;
  font-size: 0.72917vw; }
  @media (max-width: 1508.57143px) {
    .f14 {
      font-size: 11px; } }
  @media (min-width: 1920px) {
    .f14 {
      font-size: 14px; } }

.f16 {
  font-size: 15.56px;
  font-size: 0.81042vw; }
  @media (max-width: 1604.11311px) {
    .f16 {
      font-size: 13px; } }
  @media (min-width: 1920px) {
    .f16 {
      font-size: 15.56px; } }

.f17 {
  font-size: 16.89px;
  font-size: 0.87969vw; }
  @media (max-width: 1591.47425px) {
    .f17 {
      font-size: 14px; } }
  @media (min-width: 1920px) {
    .f17 {
      font-size: 16.89px; } }

.f18 {
  font-size: 18px;
  font-size: 0.9375vw; }
  @media (max-width: 1493.33333px) {
    .f18 {
      font-size: 14px; } }
  @media (min-width: 1920px) {
    .f18 {
      font-size: 18px; } }

.f20 {
  font-size: 20px;
  font-size: 1.04167vw; }
  @media (max-width: 1536px) {
    .f20 {
      font-size: 16px; } }
  @media (min-width: 1920px) {
    .f20 {
      font-size: 20px; } }

.f21 {
  font-size: 21.3px;
  font-size: 1.10938vw; }
  @media (max-width: 1442.25352px) {
    .f21 {
      font-size: 16px; } }
  @media (min-width: 1920px) {
    .f21 {
      font-size: 21.3px; } }

.f22 {
  font-size: 22.22px;
  font-size: 1.15729vw; }
  @media (max-width: 1382.53825px) {
    .f22 {
      font-size: 16px; } }
  @media (min-width: 1920px) {
    .f22 {
      font-size: 22.22px; } }

.f26, .heading2 {
  font-size: 26.67px;
  font-size: 1.38906vw; }
  @media (max-width: 1583.80202px) {
    .f26, .heading2 {
      font-size: 22px; } }
  @media (min-width: 1920px) {
    .f26, .heading2 {
      font-size: 26.67px; } }

.f24 {
  font-size: 24.44px;
  font-size: 1.27292vw; }
  @media (max-width: 1414.07529px) {
    .f24 {
      font-size: 18px; } }
  @media (min-width: 1920px) {
    .f24 {
      font-size: 24.44px; } }

.f31 {
  font-size: 31px;
  font-size: 1.61458vw; }
  @media (max-width: 1610.32258px) {
    .f31 {
      font-size: 26px; } }
  @media (min-width: 1920px) {
    .f31 {
      font-size: 31px; } }

.f36 {
  font-size: 35.56px;
  font-size: 1.85208vw; }
  @media (max-width: 1349.83127px) {
    .f36 {
      font-size: 25px; } }
  @media (min-width: 1920px) {
    .f36 {
      font-size: 35.56px; } }

.f40, .heading1 {
  font-size: 40px;
  font-size: 2.08333vw; }
  @media (max-width: 1296px) {
    .f40, .heading1 {
      font-size: 27px; } }
  @media (min-width: 1920px) {
    .f40, .heading1 {
      font-size: 40px; } }

.f60 {
  font-size: 59.95px;
  font-size: 3.1224vw; }
  @media (max-width: 960.80067px) {
    .f60 {
      font-size: 30px; } }
  @media (min-width: 1920px) {
    .f60 {
      font-size: 59.95px; } }

.heading1 {
  font-family: "Roboto";
  color: #222222; }

.heading2 {
  font-weight: 400; }

header {
  position: fixed;
  width: 100%;
  display: block;
  z-index: 2; }
  @media (min-width: 768px) {
    header {
      position: relative; } }
  header .row {
    padding: 15px 4px;
    display: table;
    width: 100%;
    /**
   * search
   * Search Form
   */ }
    @media (min-width: 992px) {
      header .row {
        padding: 15px 20px; } }
    header .row .inner {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    header .row .search {
      height: 5em;
      margin-bottom: 0; }
      header .row .search__input {
        height: 2em;
        padding: 1.6em 1.4em;
        width: 100%;
        border-radius: 10px;
        background: #f3f3f3;
        color: #757575;
        font-size: 1.4em;
        font-family: "Roboto";
        appearance: none;
        box-shadow: none !important;
        border: 1px solid rgba(0, 0, 0, 0);
        transition: all 0.5s ease-out; }
        header .row .search__input:focus {
          border: 1px solid rgba(0, 0, 0, 0.2) !important; }
        header .row .search__input::placeholder {
          color: #757575;
          opacity: 0.9; }
      header .row .search__submit {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        height: 100%;
        background: #909494;
        /* Old browsers */
        background: -moz-linear-gradient(top, #909494 0%, #676767 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #909494), color-stop(100%, #676767));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #909494 0%, #676767 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #909494 0%, #676767 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #909494 0%, #676767 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #909494 0%, #676767 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */
        appearance: none;
        border: none;
        border-radius: 0 10px 10px 0;
        padding: 0 2.4em;
        font-weight: 600;
        font-size: 1.4em;
        transition: opacity 0.5s ease-out;
        display: inline-block;
        transform: translateZ(0); }
        header .row .search__submit:hover {
          opacity: 0.7; }
